{% extends 'home.html' %}

{% block title %} All Expenses {% endblock %}

{% block content %}
  <h2>Expenses</h2>
  
  {% for i in expense %}
   
   <p>Amount : {{ i.amount }} </p>
   
   {% if i.category %}
   <p>Category : {{ i.category }} </p>
   {% else %}
   <p>Category : Uncategorized </p>
   {% endif %}
   
   <p>Date : {{ i.date }} </p>
   
   {% if i.description %}
   <p>Description : {{ i.description }} </p>
   {% endif %}
   
   <button><a href="{% url 'expense-update' i.id %}">Update</a></button> 
   <button><a href="{% url 'expense-delete' i.id %}">Delete</a></button>
  
  {% endfor %}
  
{% endblock %}