# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/

# Django
*.log
db.sqlite3
media/
staticfiles/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment variables
.env