{% extends 'home.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
  <h2>Filters</h2>
  
  <form action="{% url 'expense-list' %}"  method="get" accept-charset="utf-8">
    <label for="category">category</label>
    <!-- category -->
    <select name="category" id="category">
      <option value=''>All</option>
      {% for c in all_categories %}
        <option value="{{ c.id }}">
          {% if filters.category == c.id %}
            selected
          {% endif %}
          {{ c.name }}
        </option>
      {% endfor %}
    </select>
    
    <!-- Amount Range -->
    <br><br>
    <label for="min">Min Amount :</label>
    <input type="number" name="min" value="{{ filters.min }}" />
    
    <br><br>
    <label for="max">Max Amount :</label>
    <input type="number" name="max" value="{{ filters.max }}" />
    <!-- Date Range -->
    <br><br>
    <label for="start_date">Start Date :</label>
    <input type="date" name="start_date" value="{{ filters.start_date }}" />
    
    <br><br>
    <label for="end_date">End Date :</label>
    <input type="date" name="end_date" value="{{ filters.end_date }}" />
    
    <!-- Month / Year -->
    <br><br>
    <label for="month">Month :</label>
    <input type="number" name="month" value="{{ filters.month }}" />
    
    <br><br>
    <label for="year">Year :</label>
    <input type="number" name="year" value="{{ filters.year }}" />
    
    <br><br>
    <button type="submit">Apply Filters</button>
  </form>

  <h2>Dashboard</h2>
  
  
  <p>Total Spent : {{ total_spent.t|floatformat:"3g" }}</p>
  
  <h2>Categories Summary</h2>
  <ul>
    {% for i in all_categories %}
      <li> {{ i.name }} </li>
    {% endfor %}
  </ul>
  
  <h2>Recent Expenses - Table Representation</h2>
  <table border="2">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Spent on Date</th>
        <th colspan="2">Action</th>
      </tr>
    </thead>
    
    <tbody>
      {% for e in expenses %}
        <tr>
          <td> {{ forloop.counter }}</td>
          <td> Rs. {{ e.amount }} </td>
          {% if e.category %}
            <td>{{ e.category }}</td>
          {% else %}
            <td>Uncategorized</td>
          {% endif %}  
          <td> {{ e.date }}</td>
          <td> <button><a href="{% url 'expense-update' e.id %}">Update</a></button> </td>
          <td> <button><a href="{% url 'expense-delete' e.id %}">Delete</a></button> </td>
        </tr>
      {% endfor %}
    </tbody>
    
    <tfoot>
      <tr>
        <td><button> <a href="{% url 'view_expense' %}">More</a></button> </td>
      </tr>
    </tfoot>
    
  </table>
{% endblock %}