{% extends 'home.html' %}

{% block title %} Delete Expense {% endblock %}

{% block content %}
<h2>Delete Expense Confirmation</h2>
  <form action="" method="post" accept-charset="utf-8" onclick="Are You Sure ?">
    {% csrf_token %}
    <p>Amount : {{ expense.amount }}</p> 
    <p>Category : {{ expense.category }}</p> 
    <p>Date : {{ expense.date }}</p> 
    <p>Description : {{ expense.description }}</p> 
    <p>Created on : {{ expense.created_at }}</p> 
    <button type="submit">Delete</button>
  </form>
{% endblock %}