<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>{% block title %} Expense Tracker {% endblock %}</title>
</head>
<body>
  <a href="{% url 'dashboard' %}">Dashboard</a>
  <a href="{% url 'expense-add' %}">Add Expense</a>
  <a href="{% url 'budget-add' %}">Add Budget</a>
  <a href="{% url 'new_category' %}">Add Category</a>
  <a href="{% url 'view_expense' %}">View Expense</a>
  <br />
  
  
  <!-- ADD LATER 
  <form action="" method="get" accept-charset="utf-8">
    <input type="search" name="search" id="search" value="" />
    <button type="submit">Search</button>
  </form>
   -->
  
  
  {% block content %}
  
  {% endblock %}
	
</body>
</html>